{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Create post</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"
    />
  </head>
  <body>
    <form method="post">
      {% csrf_token %}
      {{ form | crispy }}
      <button type="submit" value="Create" class="btn btn-primary">
        Create Post
      </button>
    </form>
    <div ><a class="btn btn-danger"  role="button" href="/blog/{{ post.id }}">Return</a></button>

  </body>
</html>
