<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{ post.title }}</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>

      <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container">
            <a class="navbar-brand" href="/blog" style="font:blue;font-weight:bold; font-size:40px;">Yousif's Blog </a>
            
            <a class="btn btn-primary my-2 my-sm-0" role="button" href="/blog/create"
            >Add Post</a
          >
            </div>
          </div>
        </nav>
        <div class="container">
    {% load staticfiles %}
    <div style="margin-top:45px;">
        <a style="text-align:left;" href="/blog/">&#11207; Back</a>
        <a style="float:right;" href="/blog/{{ post.id }}/edit/">Edit Post</a>
      </div>
    <h1 style="margin-top:20px;">{{ post.title }}</h1>
      <small class="">Publish date: {{ post.created_date }}</small>


      <h5>Author: {{ post.author }}</h5>

      <p style="line-height: 1.6;">{{ post.description |linebreaks }}</p>

    
    
  </div>
  </body>
</html>
