<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Home</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"
    />
  </head>
  <body>
    {% if posts %}
    <ul class="list-group">
      {% for post in posts %}
      <li class="list-group-item">
        <a href="/blog/{{ post.id }}/">{{ post.title }}</a>
      </li>
      {% endfor %}
    </ul>
    {% else %}
    <p>No blog articles are available.</p>
    {% endif %}
    <div class="col-md-12 text-center">
      <a class="btn btn-primary" role="button" href="/blog/create">Add Post</a>
    </div>
  </body>
</html>
